#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 > #backgroundBox {
position: absolute;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 > #alignmentBox {
position: relative;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 {
position: absolute;
width: 755.0px;
min-height: 651.0000000000001px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 {
position: absolute;
width: 645.0000000000002px;
min-height: 380.5099437179693px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
background-color: #000000;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_26 {
position: absolute;
width: 115.0px;
height: 115.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_26 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
color: #000000;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 {
position: absolute;
width: 150.0px;
min-height: 32.000000000000114px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
line-height: 16px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
line-height: 16px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_1 {
position: absolute;
width: 28.0px;
height: 28.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_1 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 {
position: absolute;
width: 613.0000000000002px;
min-height: 48.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #000000;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_2 {
position: absolute;
width: 24.0px;
height: 24.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_2 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_3 {
position: absolute;
width: 24.0px;
height: 24.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_3 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Path_1 {
position: absolute;
width: 638.6661987304688px;
height: 2.0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_4 {
position: absolute;
width: 24.0px;
height: 24.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_4 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 {
position: absolute;
width: 150.0px;
min-height: 32.000000000000114px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
line-height: 16px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
line-height: 16px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_5 {
position: absolute;
width: 24.0px;
height: 24.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Image_5 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 {
box-shadow: none;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 .valign {
vertical-align: top;
text-align: left;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

.devMobile #jim-container .ui-page {
overflow-x: hidden;
}

.non_jim_mobile #simulation {
overflow-x: hidden;
}

.web #simulation {
overflow-x: hidden;
}

#s-15d0b1c7-4ee4-4d2a-8a6e-4770470e7269 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}
