#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 > #backgroundBox {
position: absolute;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 > #alignmentBox {
position: relative;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 24.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 24.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 {
position: absolute;
width: 364.0000000000002px;
min-height: 230.00000000000006px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CFCFCF;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CFCFCF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CFCFCF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CFCFCF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_3 {
position: absolute;
width: 75.62288135593235px;
height: 87.05853658536583px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_3 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 {
position: absolute;
width: 290.55987548828125px;
min-height: 30.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 input::-webkit-input-placeholder {
color: #B4B4B4;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 input::-moz-placeholder {
color: #B4B4B4;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 input:-moz-placeholder {
color: #B4B4B4;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 input:-ms-input-placeholder {
color: #B4B4B4;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 {
position: absolute;
width: 303.0000000000001px;
height: 49.00000000000006px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
cursor: text;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 .valign {
vertical-align: top;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
text-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Input_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 5px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 span {
color: #A7A6A6;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
color: #A7A6A6;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 span {
color: #10508B;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
color: #10508B;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 {
position: absolute;
width: 364.0000000000002px;
min-height: 167.0000000000001px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CFCFCF;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CFCFCF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CFCFCF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CFCFCF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 {
position: absolute;
width: 290.55987548828125px;
min-height: 45.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
color: #878787;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 span {
color: #A7A6A6;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
color: #A7A6A6;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_1 {
position: absolute;
width: 69.0px;
height: 68.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_1 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Path_1 {
position: absolute;
width: 306.1617126464844px;
height: 2.0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 span {
color: #333333;
text-align: left;
text-decoration: underline;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
color: #333333;
text-decoration: underline;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 {
position: absolute;
width: 74.0px;
min-height: 32.00000000000006px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_2 {
position: absolute;
width: 16.0px;
height: 16.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_2 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 {
position: absolute;
width: 364.0000000000003px;
min-height: 282.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CFCFCF;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CFCFCF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CFCFCF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CFCFCF;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 .valign {
vertical-align: middle;
text-align: center;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 {
position: absolute;
width: 207.99999999999955px;
min-height: 104.99999999999977px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
background-color: #000000;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_26 {
position: absolute;
width: 57.0px;
height: 57.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_26 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 {
position: absolute;
width: 290.55987548828125px;
min-height: 60.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
color: #878787;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 span {
color: #A7A6A6;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
color: #A7A6A6;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 700;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_4 {
position: absolute;
width: 69.0px;
height: 68.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_4 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Path_2 {
position: absolute;
width: 306.1617126464844px;
height: 2.0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 span {
color: #333333;
text-align: left;
text-decoration: underline;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
color: #333333;
text-decoration: underline;
font-family: 'Arial',Arial;
font-size: 9.0pt;
font-style: normal;
font-weight: 400;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 {
position: absolute;
width: 74.0px;
min-height: 32.00000000000006px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 {
box-shadow: none;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 .valign {
vertical-align: top;
text-align: left;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 span {
color: #B2B2B2;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
color: #B2B2B2;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 9.0pt;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_5 {
position: absolute;
width: 16.0px;
height: 16.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 #s-Image_5 {
box-shadow: none;
}

.devMobile #jim-container .ui-page {
overflow-x: hidden;
}

.non_jim_mobile #simulation {
overflow-x: hidden;
}

.web #simulation {
overflow-x: hidden;
}

#s-9c97c116-0442-42ff-9f13-0ec8bf1cf713 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}
