#s-ad188ccd-9ce9-4207-a49e-60ff76215392 > #backgroundBox {
position: absolute;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 > #alignmentBox {
position: relative;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 24.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 24.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 {
position: absolute;
width: 942.0000000000005px;
min-height: 641.9999999999999px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 {
position: absolute;
width: 445.70312500000017px;
min-height: 111.8110946738525px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
background-color: #D9D9D9;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 > .borderLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 12.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 {
position: absolute;
width: 261.99999999999994px;
min-height: 642.0000000000001px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_2 {
position: absolute;
width: 138.14290428161655px;
height: 117.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_2 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 .valign {
vertical-align: middle;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 18.0pt;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Label_3 span#rtr-s-Label_3_0 {
color: #333333;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 18.0pt;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_18 {
position: absolute;
width: 28.0px;
height: 28.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_18 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 18.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 18.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-grey {
position: absolute;
width: 184.07000732421875px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-purple {
position: absolute;
width: 164.19000244140625px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-grey_1 {
position: absolute;
width: 184.07000732421875px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-purple_1 {
position: absolute;
width: 164.19000244140625px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-grey_2 {
position: absolute;
width: 184.07000732421875px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-purple_2 {
position: absolute;
width: 164.19000244140625px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 10.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-grey_3 {
position: absolute;
width: 184.07000732421875px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-line-purple_3 {
position: absolute;
width: 164.19000244140625px;
height: 6.0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 {
position: absolute;
width: auto;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 .valign {
vertical-align: top;
text-align: left;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 18.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
color: #333333;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 18.0pt;
font-style: normal;
font-weight: 400;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 input::-webkit-input-placeholder {
color: #B4B4B4;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 input::-moz-placeholder {
color: #B4B4B4;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 input:-moz-placeholder {
color: #B4B4B4;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 input:-ms-input-placeholder {
color: #B4B4B4;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 {
position: absolute;
width: 726.2580645161291px;
height: 46.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
cursor: text;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 .valign {
vertical-align: middle;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 input {
color: #666666;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Light',Arial;
font-size: 11.0pt;
text-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #DDDDDD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #DDDDDD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #DDDDDD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #DDDDDD;
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Input_2 .paddingLayer:first-child {
padding-top: 1px;
padding-right: 16px;
padding-bottom: 1px;
padding-left: 41px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_3 {
position: absolute;
width: 19.0px;
height: 20.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Image_3 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 {
position: absolute;
width: 165.74px;
min-height: 46.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
cursor: pointer;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 {
box-shadow: none;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
background-color: #282828;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 > .borderLayer {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #404040;
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 .valign {
vertical-align: middle;
text-align: center;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 10.0pt;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
color: #FFFFFF;
text-decoration: none;
font-family: 'OpenSans-Regular',Arial;
font-size: 10.0pt;
}

.devMobile #jim-container .ui-page {
overflow-x: hidden;
}

.non_jim_mobile #simulation {
overflow-x: hidden;
}

.web #simulation {
overflow-x: hidden;
}

#s-ad188ccd-9ce9-4207-a49e-60ff76215392 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}
