#t-f067f264-b028-4abc-96c1-d577069c41dc > #backgroundBox {
background-color: #FFFFFF;
position: absolute;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc > #alignmentBox {
position: relative;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg {
position: absolute;
width: 307.0000078309265px;
min-height: 249.0000000000001px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: drop-shadow(-1.2246467991473532E-16px 2.0px 3.5px #999999);
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg {
box-shadow: -1.2246467991473532E-16px 2.0px 7px 0px #999999;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg > .borderLayer {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #404040;
border-radius: 5px 5px 5px 5px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg > .backgroundLayer {
border-radius: 5px 5px 5px 5px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg .valign {
vertical-align: middle;
text-align: center;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg span {
color: #808080;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
line-height: 18px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Bg span#rtr-t-Bg_0 {
color: #808080;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
line-height: 18px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_4 {
position: absolute;
width: 34.50000000000023px;
height: 34.99999999999994px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_4 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 {
position: absolute;
width: 223.2206292648043px;
min-height: 27.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 > .backgroundLayer {
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 > .backgroundLayer > .colorLayer {
background-color: #F9F9F9;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #F9F9F9;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #F9F9F9;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #F9F9F9;
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 > .backgroundLayer {
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 .valign {
vertical-align: middle;
text-align: center;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_45 span#rtr-t-Rectangle_45_0 {
color: #000000;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_8 {
position: absolute;
width: 9.735479157965983px;
height: 20.633902887048862px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_8 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 {
position: absolute;
width: 223.2206292648043px;
min-height: 27.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 > .backgroundLayer {
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 > .backgroundLayer > .colorLayer {
background-color: #F9F9F9;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #F9F9F9;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #F9F9F9;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #F9F9F9;
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 > .backgroundLayer {
border-radius: 12px 12px 12px 12px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 .paddingLayer:first-child {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 .valign {
vertical-align: middle;
text-align: center;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_46 span#rtr-t-Rectangle_46_0 {
color: #000000;
text-decoration: none;
font-family: 'Roboto-Regular',Arial;
font-size: 10.0pt;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_9 {
position: absolute;
width: 9.735479157965983px;
height: 20.633902887048862px;
-webkit-transform: rotate(180.0deg);
-moz-transform: rotate(180.0deg);
transform: rotate(180.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_9 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_5 {
position: absolute;
width: 34.50000000000023px;
height: 34.99999999999994px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_5 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_5 > .backgroundLayer {
border-radius: 17px 17px 17px 17px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_5 > .borderLayer {
border-radius: 17px 17px 17px 17px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_5 > .backgroundLayer {
border-radius: 17px 17px 17px 17px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 input::-webkit-input-placeholder {
color: #B2B2B2;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 input::-moz-placeholder {
color: #B2B2B2;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 input:-moz-placeholder {
color: #B2B2B2;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 input:-ms-input-placeholder {
color: #B2B2B2;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 {
position: absolute;
width: 306.9999999999993px;
height: 46.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
cursor: text;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 .valign {
vertical-align: middle;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 input {
color: #434343;
text-align: left;
text-decoration: none;
font-family: 'OpenSans-Light',Arial;
font-size: 11.0pt;
text-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 > .backgroundLayer > .colorLayer {
background-color: #FFFFFF;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 > .borderLayer {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #DDDDDD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #DDDDDD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #DDDDDD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #DDDDDD;
border-radius: 2px 2px 2px 2px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 > .backgroundLayer {
border-radius: 2px 2px 2px 2px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Input_4 .paddingLayer:first-child {
padding-top: 1px;
padding-right: 6px;
padding-bottom: 1px;
padding-left: 11px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 {
position: absolute;
width: 307.0px;
min-height: 62.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
text-shadow: none;
cursor: pointer;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
font-size: 0pt;
font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 > .backgroundLayer > .colorLayer {
background-color: #1976D2;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 .paddingLayer:first-child {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 70px;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 .valign {
vertical-align: middle;
text-align: left;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
color: #FFFFFF;
text-decoration: none;
font-family: 'Arial',Arial;
font-size: 14.0pt;
font-style: normal;
font-weight: 700;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_3 {
position: absolute;
width: 28.0px;
height: 28.0px;
-webkit-transform: rotate(0.0deg);
-moz-transform: rotate(0.0deg);
transform: rotate(0.0deg);
filter: none;
cursor: pointer;
border-left-width: 0px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
}

_:-ms-fullscreen, :root #t-f067f264-b028-4abc-96c1-d577069c41dc #t-Image_3 {
box-shadow: none;
}

#t-f067f264-b028-4abc-96c1-d577069c41dc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}
